@charset "utf-8";
/* CSS Document */
body {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
	color: #333333;
	background-color: #ececec;
	font-size: 15px;
	font-family: 'Microsoft Yahei', 'SimSun', sans-serif;
	overflow-x: hidden;
}
form, p, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
i {
	font-style: normal;
}
img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
input, select {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	vertical-align: middle;
	outline: 0;
	font-family: 'Microsoft Yahei', 'SimSun', sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.fix:before, .fix:after {
	content: "";
	display: table;
}
.fix {
*zoom:1;
}
.fix:after {
	clear: both;
}
#header {
	    width: 100%;
	height: 350px;
    background-color:#820fc4;
}

.container {
	width: 1912px;
    height: 406px;
	background: url(../images/banner.jpg)  no-repeat;
	margin:0 auto;
	
}

#contant
{
	width:740px;
	height:930px;
	background:#fff;
	z-index:9999;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
	padding-top:40px;
	border-radius:5px;
}
#contant .con_title
{
	width:700px;
	margin:0px auto;
	
}
 #contant .headering {
    position: relative;
    color: #820fc4;
    font-size: 20px;
    margin-bottom: 20px;
	text-align:center;
	 margin-top:-5px;
	 padding:0 25px;
}

.con_detail
{
	width:1000px;
	margin:0 auto;
	margin-top:40px;
	font-size:16px;
}
.con_detail span
{color:#00AD8F;}
.con_detailsuccess
{
	max-width:620px;
	margin:0 auto;
	margin-top:100px;
	font-size:16px;
	line-height:40px;
}
.con_input
{
	width:500px;
	margin:0 auto;
	margin-top:20px;
	font-size:15px;
	zoom:"1";
}
.con_input:after {
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
}

 .field
 {margin-bottom:15px;
 clear:left;}
  .field ul
  {float:left;}
  .field ul li
  {
	  float:left;
	  margin: 0 100px 20px 0; 
  }
 .field>label {
    display: block;
	float:left;
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.7;
	width:150px;
}

.input {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 1px;
    display: inline-block;
    height: 38px;
	width:485px;
    padding: 4px 10px;
    box-shadow: none;
	font-family: 'Microsoft Yahei', 'SimSun', sans-serif;
}
.text {
	height:80px;
	resize:none
}
.sub
{background-color:#820fc4;
border:none;
padding:10px 50px;
color:#fff;
font-size:18px;
display:block;
margin:20px auto;
cursor:pointer;}
